@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

main {
  @apply min-h-screen
}
body {
  font-family: var(--font-inter), sans-serif;
  @apply bg-white;
}

@theme {
  /* Brand */
    --color-primary: #800000;
    --color-primary-fade: #58181F;
    --color-secondary: #E2725B;
    /* --color-secondary-fade: #F5D0C5 */
    --color-success: #28a745;
    --color-info: #17a2b8;
    --color-warning: #ffc107;
    --color-danger: #dc3545;
    --color-light: #e1e5ee;
    --color-white: #ffffff;
    --color-dark: #343a40;
    --color-sky: #0084d1;
    --color-cream: #FFF9F5;

    --color-danger: #dc3545;
    --color-gray: #4a5565;
    --color-gray_back: #e4e7ec;

    
    --animate-wiggle: wiggle 1s ease-in-out infinite;
    --animate-fadeIn: fadeIn 2s ease-in-out;

    @keyframes wiggle {
      0%
      100% {
        transform: rotate(-3deg);
      }
      50% {
        transform: rotate(3deg);
      }
    }
    
    @keyframes fadeIn {
      0% {
        opacity: 0;
        transform: translateY(-20%);
      }
      100% {
        opacity: 1;
        transform: translateY(0);
      }
    }

}
.menu-size {
    @media (width <= 400px) {
        width: 155px; /* 0.25rem = 4px */;
    }
    @media (width >= 400px) {
      width: 190px;
    }
}
.bg-image {
  background-image: url('../public/img/pizza-1317699_1280.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #e4e7ec
  
}